<!-- views/form.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>State Details Form</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .link-container {
      margin-top: 20px;
    }

    .dynamo-link {
      display: block;
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .dynamo-link:hover {
      background-color: #45a049;
    }


    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .signature {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #555;
      font-size: 12px;
    }
  </style>
</head>

<body>
  <form action="/submit" method="post">
    <h1>Enter Class Details</h1>
    <label for="stateName">Course Name:</label>
    <input type="text" name="stateName" required>

    <label for="date">Course Beginning Date:</label>
    <input type="date" name="date" required>

    <label for="samplesCollected">No of Students Registered:</label>
    <input type="number" name="samplesCollected" required>

    <label for="positiveCases">No of Students Admitted:</label>
    <input type="number" name="positiveCases" required>

    <label for="negativeCases">No of Students Passed:</label>
    <input type="number" name="negativeCases" required>

    <label for="discharges">No of Students Failed:</label>
    <input type="number" name="discharges" required>

    <label for="deaths">No of Students with Distinction:</label>
    <input type="number" name="deaths" required>
    <label for="image">Upload Image:</label>
    <input type="file" name="image" accept="image/*">

    <input type="submit" value="Submit">

    <div class="link-container">

    </div>
  </form>
</body>

</html>